.main-nav{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 150px;
}

.main-nav .active{
    color: #fff;
}

.show-menu{
    display: flex;
    align-items: center;
}

.show-menu p{
    margin: 0 12px;
    color: #fff;
    font-size: 18px;
}